In [2]:
# required modules
import pandas as pd
import seaborn
import matplotlib.pyplot as plt
import numpy as np

# optional modules
import nltk
import string
#nltk.download('punkt') # only required for the first time
#nltk.download('averaged_perceptron_tagger') # only required for the first time
#nltk.download('stopwords') # only required for the first time

[nltk_data] Downloading package punkt to /home/mli/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/mli/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data] Downloading package stopwords to /home/mli/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [4]:
nrows = 5000

# read train data set
df_train = pd.read_csv('train_data.txt', sep=':::',\
                       engine='python', header=None, usecols=[1,2,3], nrows=nrows)
df_train.rename(columns={1:'title', 2:'genre', 3:'description'}, inplace=True)
display(df_train.head())

# read test data set
df_test = pd.read_csv('test_data_solution.txt', sep=':::',\
                       engine='python', header=None, usecols=[1,2,3], nrows=nrows)
df_test.rename(columns={1:'title', 2:'genre', 3:'description'}, inplace=True)
display(df_test.head())

,title,genre,description
0,Oscar et la dame rose (2009),drama,Listening in to a conversation between his do...
1,Cupid (1997),thriller,A brother and sister with a past incestuous r...
2,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fie...
3,The Secret Sin (1915),drama,To help their unemployed father make ends mee...
4,The Unrecovered (2007),drama,The film's title refers not only to the un-re...

,title,genre,description
0,Edgar's Lunch (1998),thriller,"L.R. Brane loves his life - his car, his apar..."
1,La guerra de papá (1977),comedy,"Spain, March 1964: Quico is a very naughty ch..."
2,Off the Beaten Track (2010),documentary,One year in the life of Albin and his family ...
3,Meu Amigo Hindu (2015),drama,"His father has died, he hasn't spoken with hi..."
4,Er nu zhai (1955),drama,Before he was known internationally as a mart...

In [5]:
# compare genre distribution
genres = pd.DataFrame(columns=['train', 'test'], index=df_train['genre'].sort_values().unique())
gtrain = df_train['genre'].value_counts().sort_index()
gtest = df_test['genre'].value_counts().sort_index()
genres['train'] = gtrain
genres['test'] = gtest
display(genres)

# make a histogramm of the genre distribution for the training and test data set


# test data in train data?
titlesTest = set(df_test['title'])
titlesTrain = set(df_train['title'])
print('Common titles used in both datasets:')
print(titlesTest.intersection(titlesTrain))

               train  test
 action          121   129
 adult            58    53
 adventure        68    73
 animation        48    65
 biography        32    25
 comedy          701   662
 crime            38    34
 documentary    1198  1183
 drama          1252  1314
 family           72    69
 fantasy          33    19
 game-show        19    13
 history          23    27
 horror          189   204
 music            61    68
 musical          19    15
 mystery          31    24
 news             16    18
 reality-tv       83    75
 romance          48    65
 sci-fi           70    65
 short           470   497
 sport            43    36
 talk-show        33    28
 thriller        171   134
 war              10    15
 western          93    90

Common titles used in both datasets:
set()

In [ ]:
# length of descriptions
# make a summary statistic about the length of the descriptions in the test and the training data set